body {
    padding-top: 56px;
}
.custom1 { 
    background-color: #3871BF;
}
.custom2 { 
    background-color: #3BB893;
}
.custom2-border {
    border-color: #3BB893;
}
.custom3 { 
    background-color: #3BA7B8;
}
.custom4 { 
    background-color: #3B43B8;
}
.custom5 { 
    background-color: #4F19B7;
}

.custom6 {
    background-image: url("images/texture-usa-money-business-paper-cash-1354491-pxhere.com.jpg");
}

.custom7 {
    font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.custom8 {
    background-color: gray;
}
.custom9 {
    background-color: rgb(236, 236, 236);
}
.custom10 {
    color: rgb(238, 238, 238);
}

.custom11 {
    background-image: url("images/writing-work-pen-office-brand-cash-1238368-pxhere.com.jpg");
}

.custom12 {
    background-image: url("images/water-nature-grass-light-lawn-meadow-1062530-pxhere.com.jpg");
    
}

.custom13 {
    background-color: rgb(19, 119, 86);
}
.TypeHeader {
    font-size: rfs-value(100px);
    text-shadow: 4px 2px rgba(161, 161, 161, 0.55) ;
}
.NavShadow  {
    text-shadow: 1px 1px rgba(0, 0, 0, .25) ;
}

.UnderLine {
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    font-weight: 500;
    color: rgb(119, 158, 122);
}
