.custom1 { 
    background-color: #3871BF;
}
.custom2 { 
    background-color: #3BB893;
}
.custom3 { 
    background-color: #3BA7B8;
}
.custom4 { 
    background-color: #3B43B8;
}
.custom5 { 
    background-color: #4F19B7;
}
